<footer>
    <hr>
    <div class="f-info">
        <div class="f-info-class">

        <div class="f-cname">
            &copy;2026 StayNest,Inc.
        </div>
        <div class="f-links">
            <a href="#" class="f-links-c">Terms</a>
            <a href="#" class="f-links-c">Privacy</a>
            <a href="#" class="f-links-c">Company details</a>
        </div>

        </div>
   
        <div class="f-logo">
            <i class="fa-solid fa-indian-rupee-sign rupee">IND</i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>
    </div>
</footer>